/* 字号，颜色设定 --start */
$wdC: #36adf7;
$whiteC: #fff;
$defaultFontC: #333;
.btn.btn-default{
    border-color: #0d8ff6;
    background-color: #0d8ff6;
    color: #fff;
    &:hover{
        background-color: #0881e1;
        border-color: #0d8ff6;
        color: #fff;
    }
}
.btn{
    color: #666;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 0.2rem;
    padding: 0.375rem 1rem;
    background-color: #f7f7f7;
    text-align: center;
    white-space: pre;
    touch-action: manipulation;
    user-select: none;
    outline: 0;
    transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
    &:hover{
        background-color: #eaeaea;
    }
}
.table tbody tr:nth-child(2n) td {
    background-color: #fafafa;
}
.table tbody tr:nth-child(2n+1) td {
    background-color: #fff;
}
table{
    th{
        background-color: #f1faff;
        color: #333;
        font-weight: 500;
    }
}
@font-face {
  font-family: 'iconfont';  /* project id 348970 */
  src: url('//at.alicdn.com/t/font_7klwdp47i3utmx6r.eot');
  src: url('//at.alicdn.com/t/font_7klwdp47i3utmx6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_7klwdp47i3utmx6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_7klwdp47i3utmx6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_7klwdp47i3utmx6r.svg#iconfont') format('svg');
}
.icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
$spin-animation: x-spin !default;

@keyframes #{$spin-animation} {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(359deg);
    }
}
#loading {
    position:fixed; opacity: 0.5; background: #000; width:100%; height:100%; left: 0; top:0; z-index: 100000; font-size:20px; color: #fff; display: table;
    .icon{
        display: inline-block;
        animation: 2s linear 0s normal none infinite running $spin-animation;
    }
}
.form-control{
    border-radius:0.2rem;
    border-color: #e0e0e0;
    box-shadow: none;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
    padding-left: 0;
}
.x-space{
    margin-right: 7px;
}
.x-space-top{
    margin-top: 14px;
}